CompileFlags:
  CompilationDatabase: build/Debug
  Add:
    - --target=arm-none-eabi
    - -mcpu=cortex-m4
    - -D__ARM_ARCH_7EM__=1
  Remove: [-f*, -W*]

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None

---
If:
  PathMatch: .*mini_tree[/\\].*\.(c|cpp|S)$
CompileFlags:
  CompilationDatabase: build/Debug
  Add:
    - --target=arm-none-eabi
    - -mcpu=cortex-m4
    - -I../../../ESP32-S3/managed_components/marcel-cd__etlcpp/etl/include
    - -isystem
    - C:/ST/STM32CubeCLT_1.20.0/GNU-tools-for-STM32/arm-none-eabi/include
    - -isystem
    - C:/ST/STM32CubeCLT_1.20.0/GNU-tools-for-STM32/lib/gcc/arm-none-eabi/13.3.1/include

---
If:
  PathMatch: .*hal[/\\].*\.h$
CompileFlags:
  CompilationDatabase: None
  Add:
    - --target=arm-none-eabi
    - -mcpu=cortex-m4
    - -std=gnu17
    - -x
    - c-header
    - -DSTM32F407xx
    - -DUSE_HAL_DRIVER
    - -I.
    - -isystem
    - C:/ST/STM32CubeCLT_1.20.0/GNU-tools-for-STM32/arm-none-eabi/include
    - -isystem
    - C:/ST/STM32CubeCLT_1.20.0/GNU-tools-for-STM32/lib/gcc/arm-none-eabi/13.3.1/include

---
If:
  PathMatch: .*board[/\\]include[/\\].*\.h$
CompileFlags:
  CompilationDatabase: None
  Add:
    - --target=arm-none-eabi
    - -mcpu=cortex-m4
    - -std=gnu17
    - -x
    - c-header
    - -DSTM32F407xx
    - -DUSE_HAL_DRIVER
    - -I.
    - -I../../core/include
    - -I../../osal/include
    - -I../../../build/Debug/generated/board/mini_tree
    - -I../../../build/Debug/generated/kconfig/mini_tree
    - -isystem
    - C:/ST/STM32CubeCLT_1.20.0/GNU-tools-for-STM32/arm-none-eabi/include
    - -isystem
    - C:/ST/STM32CubeCLT_1.20.0/GNU-tools-for-STM32/lib/gcc/arm-none-eabi/13.3.1/include

---
If:
  PathMatch: .*osal[/\\].*\.h$
CompileFlags:
  CompilationDatabase: None
  Add:
    - --target=arm-none-eabi
    - -mcpu=cortex-m4
    - -std=gnu17
    - -x
    - c-header
    - -DSTM32F407xx
    - -DUSE_HAL_DRIVER
    - -I.
    - -I../../core/include
    - -isystem
    - C:/ST/STM32CubeCLT_1.20.0/GNU-tools-for-STM32/arm-none-eabi/include
    - -isystem
    - C:/ST/STM32CubeCLT_1.20.0/GNU-tools-for-STM32/lib/gcc/arm-none-eabi/13.3.1/include

---
If:
  PathMatch: .*vfs[/\\].*\.h$
CompileFlags:
  CompilationDatabase: None
  Add:
    - --target=arm-none-eabi
    - -mcpu=cortex-m4
    - -std=gnu17
    - -x
    - c-header
    - -DSTM32F407xx
    - -DUSE_HAL_DRIVER
    - -I.
    - -I../../board/include
    - -I../../core/include
    - -I../../osal/include
    - -I../../hal/gpio
    - -I../../bus/spi
    - -I../../bus/uart
    - -I../../../build/Debug/generated/board/mini_tree
    - -I../../../build/Debug/generated/kconfig/mini_tree
    - -isystem
    - C:/ST/STM32CubeCLT_1.20.0/GNU-tools-for-STM32/arm-none-eabi/include
    - -isystem
    - C:/ST/STM32CubeCLT_1.20.0/GNU-tools-for-STM32/lib/gcc/arm-none-eabi/13.3.1/include

---
If:
  PathMatch: .*[/\\]app[/\\].*\.(c|cpp|h|S)$
CompileFlags:
  CompilationDatabase: build/Debug
  Add:
    - --target=arm-none-eabi
    - -mcpu=cortex-m4
    - -I../../../ESP32-S3/managed_components/marcel-cd__etlcpp/etl/include
    - -isystem
    - C:/ST/STM32CubeCLT_1.20.0/GNU-tools-for-STM32/arm-none-eabi/include
    - -isystem
    - C:/ST/STM32CubeCLT_1.20.0/GNU-tools-for-STM32/lib/gcc/arm-none-eabi/13.3.1/include

---
If:
  PathMatch: .*[/\\]Core[/\\].*\.(c|cpp|h|S)$
CompileFlags:
  CompilationDatabase: build/Debug
  Add:
    - --target=arm-none-eabi
    - -mcpu=cortex-m4
    - -isystem
    - C:/ST/STM32CubeCLT_1.20.0/GNU-tools-for-STM32/arm-none-eabi/include
    - -isystem
    - C:/ST/STM32CubeCLT_1.20.0/GNU-tools-for-STM32/lib/gcc/arm-none-eabi/13.3.1/include

---
If:
  PathMatch: .*[/\\]Drivers[/\\].*\.h$
CompileFlags:
  CompilationDatabase: None
  Add:
    - --target=arm-none-eabi
    - -mcpu=cortex-m4
    - -std=gnu17
    - -x
    - c-header
    - -DSTM32F407xx
    - -DUSE_HAL_DRIVER
    - -DUSE_FULL_LL_DRIVER
    - -I.
    - -I../../app/inc
    - -I../../Core/Inc
    - -isystem
    - C:/ST/STM32CubeCLT_1.20.0/GNU-tools-for-STM32/arm-none-eabi/include
    - -isystem
    - C:/ST/STM32CubeCLT_1.20.0/GNU-tools-for-STM32/lib/gcc/arm-none-eabi/13.3.1/include
